@font-face {
    font-family: 'Gilroy-regular';
    src: url(fonts/gilroy-regular.eot) format(eot),
    url(fonts/gilroy-regular.svg) format(svg),
    url(fonts/gilroy-regular.ttf) format(ttf),
    url(fonts/gilroy-regular.woff) format(woff),
    url(fonts/gilroy-regular.woff2) format(woff2),
}

body {
    font-family: 'Gilroy-regular', Verdana, Geneva, Tahoma, sans-serif;
    min-height: 100vh;
}

#head {
    height: 6vh;
    background-color:#323232;
    color:#ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
    select {
        margin-left: 10%;
        height: 21px;
        background-color: #323232;
        color:#ffffff;
        border-color: #323232;
        font-style: normal;
        font-weight:400;
        font-size: 14px;
    }
    #phone {
        margin-right: 10%;
        font-weight: 400;
        font-size: 22px;
    }

nav {
    height: 10vh;
    background-color:#ffffff;
    color:#000000;
    display: flex;
    flex-direction: row;
    align-items: center;
        }
        #logo {
            margin-left: 10%;
            width: 124px;
            height: 38px;
            margin-right: 3%;
        }
        #menu {
            display: flex;
            margin-right: 7%;
            justify-content: space-around;
            width: 50vw
        }
        .menu {
            text-decoration: none;
            color: #000000;
            font-style: normal;
            font-size: 16px;
            
        }
        .menu:hover {
            text-decoration: underline;
        }   
        #icons {
            display: flex;
            justify-content: space-between;
            width: 10vw;
        }
    
#skindom {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90vw;
    color:#000000;
    background-image: url(/assets/bottle.jpg); height: 698px; width:100vw; background-repeat: no-repeat; background-size: cover;
}
    h1 {
        margin-left: 20%;
        margin-bottom: 0%;
        font-weight:600;
        font-size: 59px;
        line-height: 150px;
        font-style: normal;
    }
    #skindom p {
        margin-left: 20%;
        margin-top: 0%;
        font-size: 20px;
        font-style: normal;
    }

    button {
        margin-left: 20%;
        margin-top: 2%;
        width: 268px;
        height: 58px;
        font-size: 18px;
        background-color: #000000;
        color: #ffffff;
    }
article {
    display: flex;
    width:88vw;
    text-align: left;
    margin: 5%;
}
    #cosmetics {
    margin-left: 5%;
    }
    #text {
        flex-direction: column;
        align-items: flex-start;
        margin-left: 5%;
    }
    h2 {
        margin-left: 0%;
        margin-top: 0%;
        font-size: 20px;
        font-style: normal;
    }
    article p {
        margin-left: 0%;
        margin-top: 0%;
        margin-bottom: 5%;
        font-size: 16px;
    }
        article a:link {
        color: #CC4C6E;
        }
        article a:visited { 
        color: #606; 
        }
        article a:hover { 
            color: #f00; 
        }
        article a:active { 
        color: #ff0; 
    }